*{
    margin: 0;
    padding: 0;
    font-family: 'Abel';
}
div.root {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* temporary css */
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 3rem;
    grid-column-gap: 10px;
}
div.first_sub_root {
    grid-column: span 12;
}
div.first_sub_root img.bg {
    width: 100vw;
}
.header-logo-wrapper {
    display: grid;
    background-color: rgb(6, 6, 44);
    align-items: center;
    justify-content: end;  
    /* height: 30px;  */
    padding: 0px 15px;

}
.header-logo-wrapper h3 {
    color: white;
    margin: 0;
    letter-spacing: 1.5px;
}
.logo-name-slogan {
    text-align: center;
    display: grid;
    grid-column-gap: 5px;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */

}
.logo-name-slogan img {
    margin: 0 auto;    
}
.logo-name-slogan p {
    color: slategrey;
    font-style: italic;
    font-size: 0.8em;
}
.logo-name-slogan h2 {
    font-size: 2em;
    font-weight: bolder;
    
}
ul.nav{
    padding: 15px 0px;
    display: flex;
    /* grid-template-columns: repeat(6, 1fr); */
    list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: space-around;

}

ul.nav a {
    text-decoration: none;
    color: rgb(6, 6, 44);
}
ul.nav a:hover {
   text-decoration: underline;
   text-underline-offset: 10px;
}

div.invisible_search input {
    width: 100vw;
    background-color: rgba(6, 6, 44, 0.95);
    color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: none;
    position: absolute;
}
div.invisible_search input::placeholder {
    color: white;
}
ul.nav li {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}
div.beachtext {
    grid-column: span 12;
    margin: 0 auto;
}
div.beachtext h1 {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

div.third_sub_root, div.fourth_sub_root, div.fifth_sub_root {
    grid-column: 2 / span 10;
}
div.bottom_root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 10px;  */
}
div.related_1 {
    grid-column: span 1;
    padding: 10px;
}
div.related_2 {
    grid-column: span 1;
    padding: 10px;

}
div.related_3 {
    grid-column: span 1;
    padding: 10px;
}
div.related_4 {
    grid-column: span 1;
    padding: 10px;
}
div.box {
    overflow: hidden;
}
div.box img {
    width: 100%;
    transition: transform .4s;
}
div.box img:hover {
    transform: scale(1.05);
    opacity: 0.7;
}
/* div.related_1 img, div.related_2 img, div.related_3 img, div.related_4 img {
    width: 100%;
} */
div.related_1 p, div.related_2 p, div.related_3 p, div.related_4 p {
    text-align: center;
    padding: 10px;
}
div.related_1 h2, div.related_2 h2, div.related_3 h2, div.related_4 h2 {
    padding: 10px;
    text-align: center;
}
div.sixth_sub_root {
display: grid;
grid-template-columns: repeat(2, 1fr);
max-width: 200px;
margin: 0 auto;
justify-content: center;
align-items: center;
margin-bottom: 30px;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
}
div.page {
   text-align: center;
}
div.img {
    grid-column: 2 / span 1;
    text-align: center;
} 

footer{
    background-color: rgb(6, 6, 44);
    grid-column: span 12;
    text-align: center;
    padding: 50px 40px;
    color: white;
}
footer ul li{
    display: inline;
    padding: 0px 5px;
    letter-spacing: 1px;
    
}
footer ul a {
    text-decoration: none;
    color: white;
}
footer ul a:hover {
    /* border-bottom: 1px solid white; */
    text-decoration: underline;
    text-underline-offset: 7px;
}
footer p {
    margin-top: 35px;
    letter-spacing: 1px;
}